export(GRTS.point)
export(QuadratRanking)
exportMethods(GRTS)
importFrom(RODBC,odbcClose)
importFrom(RODBC,sqlQuery)
importFrom(RODBC,sqlTables)
importFrom(sp,"gridded<-")
importFrom(sp,bbox)
importFrom(sp,coordinates)
importFrom(sp,CRS)
importFrom(sp,gridded)
importFrom(sp,GridTopology)
importFrom(sp,over)
importFrom(sp,proj4string)
importFrom(sp,SpatialGridDataFrame)
importFrom(sp,SpatialPointsDataFrame)
importFrom(spatstat,as.ppp)
importFrom(spatstat,as.ppp.data.frame)
importFrom(spatstat,as.ppp.matrix)
importFrom(spatstat,nndist)
importFrom(spatstat,owin)
